.slider-track{
  animation: 20s slide infinite linear;
}
.slider-track-reverse{
  animation: 20s slide-reverse infinite linear;
}
.slider:before,
.slider:after {
  position: absolute;
  top: 0;
  width: 250px;
  height: 100%;
  content: "";
  z-index: 2;
}
@keyframes slide {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(calc(-150px*8));
  }
}
@keyframes slide-reverse {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(calc(150px*8));
  }
}