.flipPay {
  width: 200px;
  height: 200px;
  z-index: 99;
  perspective: 1000px; /* Remove this if you don't want the 3D effect */
}

.flipPayInner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.flipPay:hover .flipPayInner {
  transform: rotateY(180deg);
}

.flipPayFront, .flipPayBack {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
}

.flipPayBack {
  transform: rotateY(180deg);
}